h1{
    font-family:"Barriecito", serif;
    color: white;
    font-size: xx-large;
}
body{
    background-color: black;
}
.button{
    background-color: #9612d3;
    color: white;
    padding: .5em 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-family:"Barriecito", serif;
    font-size:larger;
    border-color: white;
}
.search-input{
    width: 100%;
    border-color: white;
    background-color: pink;
    color: blue;
    height: 3em;
    width: 30em;

}
.results{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 1em;
    width: 100%;
}
